<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Daily Task 3 Chapter 4</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light succes-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="http://localhost:3000/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/about">About</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/datane">Datane</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>