

body {
	background: #fff;
	font: 14px/14px Arial, Helvetica, sans-serif;
	color: #666;
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	margin: 0;
}

.error_box_wrap {
	margin: 10% auto 0 auto;
	width: 850px;
	min-height: 500px;
}

.error_box_wrap .logo {
	margin-bottom: 20px;
}

.error_box_wrap .logo img {
	border: 0;
}

.error_box .error-number {
	font: 164px/164px EuropeBold;
	color: #0e559e;
	margin-bottom: 20px;
	margin-top: 50px;
	opacity: 0;

	-moz-animation: 0.8s ease-in 1.3s normal forwards 1 change-error-text;
	-webkit-animation: 0.8s ease-in 1.3s normal forwards 1 change-error-text;
	-o-animation: 0.8s ease-in 1.3s normal forwards 1 change-error-text;
	animation: 0.8s ease-in-out 1.3s normal forwards 1 change-error-text;
}

.error_box .error-text {
	font: 27px/27px EuropeRegular;
	margin-bottom: 45px;
	opacity: 0;

	-moz-animation: 0.8s ease-in 1.6s normal forwards 1 change-error-text;
	-webkit-animation: 0.8s ease-in 1.6s normal forwards 1 change-error-text;
	-o-animation: 0.8s ease-in 1.6s normal forwards 1 change-error-text;
	animation: 0.8s ease-in-out 1.6s normal forwards 1 change-error-text;
}

.error_box .go-home a {
	background: #07a36e;
	color: #fff;
	font: 24px/24px EuropeRegular;
	opacity: 0;
	padding: 20px 85px 13px;
	text-decoration: none;
	text-transform: uppercase;

	-moz-animation: 0.8s ease-in 2s normal forwards 1 change-error-text;
	-webkit-animation: 0.8s ease-in 2s normal forwards 1 change-error-text;
	-o-animation: 0.8s ease-in 2s normal forwards 1 change-error-text;
	animation: 0.8s ease-in-out 2s normal forwards 1 change-error-text;
}

.robot-wrap {
	height: 500px;
	float: left;
	margin: 0 150px 0 0;
	position: relative;
	width: 300px;
}

.robot-head {
	background: url("https://www.tddcd.com/images/head-finish.png") no-repeat;
	height: 184px;
	left: 14px;
	position: absolute;
	top: 0;
	width: 272px;
	z-index: 2;

	-moz-animation: 0.8s ease-in-out 1s normal forwards 1 head-rotate;
	-webkit-animation: 0.8s ease-in-out 1s normal forwards 1 head-rotate;
	-o-animation: 0.8s ease-in-out 1s normal forwards 1 head-rotate;
	animation: 0.8s ease-in-out 1s normal forwards 1 head-rotate;
}

.robot-head-with-gradient {
	background: url("https://www.tddcd.com/images/head.png") no-repeat;
	height: 184px;
	left: 0;
	position: absolute;
	top: 0;
	width: 272px;

	-moz-animation: 0.5s ease-in-out 1s normal forwards 1 change-head-bg;
	-webkit-animation: 0.5s ease-in-out 1s normal forwards 1 change-head-bg;
	-o-animation: 0.5s ease-in-out 1s normal forwards 1 change-head-bg;
	animation: 0.5s ease-in-out 1s normal forwards 1 change-head-bg;
}

.robot-head .left-eye {
	background: url("https://www.tddcd.com/images/eye.png") no-repeat;
	height: 55px;
	left: 71px;
	position: absolute;
	top: 50px;
	width: 55px;
	z-index: 1;

	-moz-animation: 0.5s ease-in-out 1.2s normal forwards 1 left-eye;
	-webkit-animation: 0.5s ease-in-out 1.2s normal forwards 1 left-eye;
	-o-animation: 0.5s ease-in-out 1.2s normal forwards 1 left-eye;
	animation: 0.5s ease-in-out 1.2s normal forwards 1 left-eye;
}

.robot-head .right-eye {
	background: url("https://www.tddcd.com/images/eye.png") no-repeat;
	height: 55px;
	left: 153px;
	position: absolute;
	top: 50px;
	width: 55px;
	z-index: 1;

	-moz-animation: 0.5s ease-in-out 1.3s normal forwards 1 right-eye;
	-webkit-animation: 0.5s ease-in-out 1.3s normal forwards 1 right-eye;
	-o-animation: 0.5s ease-in-out 1.3s normal forwards 1 right-eye;
	animation: 0.5s ease-in-out 1.3s normal forwards 1 right-eye;
}

.robot-head .robot-mouth {
	background: #151515;
	border-radius: 5px;
	box-shadow: 0 1px rgba(255, 255, 255, 0.5);
	height: 8px;
	left: 120px;
	position: absolute;
	top: 153px;
	width: 40px;
	z-index: 1;

	-moz-animation: 0.8s ease-in-out 1.1s normal forwards 1 mouth-start;
	-webkit-animation: 0.8s ease-in-out 1.1s normal forwards 1 mouth-start;
	-o-animation: 0.8s ease-in-out 1.1s normal forwards 1 mouth-start;
	animation: 0.8s ease-in-out 1.1s normal forwards 1 mouth-start;
}

.robot-body-wrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;

	-moz-animation: 0.4s ease-in-out 1.4s normal forwards 1 body-rotate;
	-webkit-animation: 0.4s ease-in-out 1.4s normal forwards 1 body-rotate;
	-o-animation: 0.4s ease-in-out 1.4s normal forwards 1 body-rotate;
	animation: 0.4s ease-in-out 1.4s normal forwards 1 body-rotate;
}

.robot-body-wrap .body-right-wire {
	background: url("https://www.tddcd.com/images/body.png") no-repeat;
	height: 49px;
	left: 207px;
	opacity: 0;
	position: absolute;
	top: 199px;
	width: 89px;

	-moz-animation: 0.1s ease-in-out 1.6s normal forwards 1 body-right-wire;
	-webkit-animation: 0.1s ease-in-out 1.6s normal forwards 1 body-right-wire;
	-o-animation: 0.1s ease-in-out 1.6s normal forwards 1 body-right-wire;
	animation: 0.1s ease-in-out 1.6s normal forwards 1 body-right-wire;
}

.robot-body-wrap .robot-body {
	background: url("https://www.tddcd.com/images/body.png") no-repeat;
	height: 193px;
	left: 43px;
	position: absolute;
	top: 174px;
	width: 218px;
}

.robot-body-wrap .left-hand {
	left: 27px;
	position: absolute;
	top: 197px;
	z-index: 1;

	-moz-animation: 0.2s ease-in-out 1.7s normal forwards 1 left-hand-rotate;
	-webkit-animation: 0.2s ease-in-out 1.7s normal forwards 1 left-hand-rotate;
	-o-animation: 0.2s ease-in-out 1.7s normal forwards 1 left-hand-rotate;
	animation: 0.2s ease-in-out 1.75s normal forwards 1 left-hand-rotate;
}

.robot-body-wrap .right-hand {
	left: 237px;
	position: absolute;
	top: 197px;
	z-index: 1;

	-moz-animation: 0.4s ease-out 1.6s normal forwards 1 right-hand-rotate;
	-webkit-animation: 0.4s ease-out 1.6s normal forwards 1 right-hand-rotate;
	-o-animation: 0.4s ease-out 1.6s normal forwards 1 right-hand-rotate;
	animation: 0.4s ease-out 1.6s normal forwards 1 right-hand-rotate;

}

.left-hand .left-top-hand-brokenness {
	background: url("../images/left-hand-top-finish.png") no-repeat;
	height: 118px;
	left: 0;
	position: absolute;
	top: 0;
	width: 40px;

	-moz-animation: 0.2s ease-in-out 2s normal forwards 1 left-hand-top;
	-webkit-animation: 0.2s ease-in-out 2s normal forwards 1 left-hand-top;
	-o-animation: 0.2s ease-in-out 2s normal forwards 1 left-hand-top;
	animation: 0.2s ease-in-out 2s normal forwards 1 left-hand-top;
}

.left-hand .left-top-hand {
	background: url("https://www.tddcd.com/images/left-hand-top.png") no-repeat;
	height: 118px;
	left: 0;
	position: absolute;
	top: 0;
	width: 40px;

	-moz-animation: 0.2s ease-in-out 1.8s normal forwards 1 change-head-bg;
	-webkit-animation: 0.2s ease-in-out 1.8s normal forwards 1 change-head-bg;
	-o-animation: 0.2s ease-in-out 1.8s normal forwards 1 change-head-bg;
	animation: 0.2s ease-in-out 1.8s normal forwards 1 change-head-bg;
}

.left-hand .left-bottom-hand {
	background: url("https://www.tddcd.com/images/right-hand-top.png") no-repeat;
	height: 91px;
	left: -24px;
	position: absolute;
	top: 98px;
	width: 49px;

	-moz-animation: 3s ease-in-out 1.9s normal forwards 1 left-hand-bottom;
	-webkit-animation: 3s ease-in-out 1.9s normal forwards 1 left-hand-bottom;
	-o-animation: 3s ease-in-out 1.9s normal forwards 1 left-hand-bottom;
	animation: 3s ease-in-out 1.9s normal forwards 1 left-hand-bottom;
}

.right-hand .right-top-hand {
	background: url("https://www.tddcd.com/images/right-hand-top.png") no-repeat;
	height: 110px;
	left: 0;
	position: absolute;
	top: 0;
	width: 66px;

	-moz-animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-top;
	-webkit-animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-top;
	-o-animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-top;
	animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-top;
}

.right-hand .right-hand-wire {
	background: url("../images/right-hand-top-wire.png") no-repeat;
	height: 110px;
	position: absolute;
	right: 0;
	top: -20px;
	width: 0;

	-moz-animation: 0.3s ease-in-out 1.6s normal forwards 1 right-hand-wire;
	-webkit-animation: 0.3s ease-in-out 1.6s normal forwards 1 right-hand-wire;
	-o-animation: 0.3s ease-in-out 1.6s normal forwards 1 right-hand-wire;
	animation: 0.3s ease-in-out 1.6s normal forwards 1 right-hand-wire;
}

.right-hand .right-bottom-hand {
	background: url("https://www.tddcd.com/images/right-hand-bottom.png") no-repeat;
	height: 97px;
	left: 33px;
	position: absolute;
	top: 86px;
	width: 33px;

	-moz-animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-bottom;
	-webkit-animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-bottom;
	-o-animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-bottom;
	animation: 0.2s ease-in-out 1.7s normal forwards 1 right-hand-bottom;
}

.right-hand-shadow {
	background: url("../images/right-hand-shadow.png") no-repeat;
	height: 55px;
	left: 135px;
	opacity: 0;
	position: absolute;
	top: 419px;
	width: 200px;

	-moz-animation: 0.5s ease-in-out 1.55s normal forwards 1 right-hand-shadow;
	-webkit-animation: 0.5s ease-in-out 1.55s normal forwards 1 right-hand-shadow;
	-o-animation: 0.5s ease-in-out 1.55s normal forwards 1 right-hand-shadow;
	animation: 0.5s ease-in 1.55s normal forwards 1 right-hand-shadow;
}

.robot-wrap .robot-body-bottom-brokenness {
	background: url("https://www.tddcd.com/images/body-bottom-finish.png") no-repeat;
	height: 114px;
	left: 58px;
	position: absolute;
	top: 348px;
	width: 198px;
}

.robot-wrap .robot-body-bottom {
	background: url("https://www.tddcd.com/images/body_bottom.png") no-repeat;
	height: 114px;
	left: 58px;
	position: absolute;
	top: 348px;
	width: 198px;

	-moz-animation: 0.4s ease-in-out 1s normal forwards 1 change-head-bg;
	-webkit-animation: 0.4s ease-in-out 1s normal forwards 1 change-head-bg;
	-o-animation: 0.4s ease-in-out 1s normal forwards 1 change-head-bg;
	animation: 0.4s ease-in-out 1s normal forwards 1 change-head-bg;
}



.robot-head {
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

/*********
   KeyFrames
   ********/

/* Head Rotate */
@-moz-keyframes head-rotate {
	from {
		-moz-transform: rotate(0deg);
		top: 0;
	}

	to {
		-moz-transform: rotate(21deg);
		top: -7px;
	}
}

@-webkit-keyframes head-rotate {
	from {
		-webkit-transform: rotate(0deg);
		top: 0;
	}

	to {
		-webkit-transform: rotate(21deg);
		top: -7px;
	}
}

@-o-keyframes head-rotate {
	from {
		-o-transform: rotate(0deg);
		top: 0;
	}

	to {
		-o-transform: rotate(21deg);
		top: -7px;
	}
}

@-ms-keyframes head-rotate {
	from {
		-ms-transform: rotate(0deg);
		top: 0;
	}

	to {
		-ms-transform: rotate(21deg);
		top: -7px;
	}
}

@keyframes head-rotate {
	0% {
		transform: rotate(0deg);
		top: 0;
	}

	20% {
		transform: rotate(15deg);
		top: -4px;
	}

	40% {
		transform: rotate(7deg);
		top: -2px;
	}

	100% {
		transform: rotate(21deg);
		top: -7px;
	}
}

/* Change Head Background */
@-moz-keyframes change-head-bg {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-webkit-keyframes change-head-bg {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-o-keyframes change-head-bg {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@-ms-keyframes change-head-bg {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes change-head-bg {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/* Left Eye */
@-moz-keyframes left-eye {
	0% {
		left: 71px;
		top: 50px;
	}

	25% {
		left: 66px;
		top: 55px;
	}

	50% {
		left: 71px;
		top: 60px;
	}

	75% {
		left: 85px;
		top: 45px;
	}

	100% {
		left: 71px;
		top: 10px;
	}

	from {
		top: 50px;
	}

	to {
		top: 10px;
	}
}

@-webkit-keyframes left-eye {
	0% {
		left: 71px;
		top: 50px;
	}

	25% {
		left: 66px;
		top: 55px;
	}

	50% {
		left: 71px;
		top: 60px;
	}

	75% {
		left: 85px;
		top: 45px;
	}

	100% {
		left: 71px;
		top: 10px;
	}
}

@-o-keyframes left-eye {
	0% {
		left: 71px;
		top: 50px;
	}

	25% {
		left: 66px;
		top: 55px;
	}

	50% {
		left: 71px;
		top: 60px;
	}

	75% {
		left: 85px;
		top: 45px;
	}

	100% {
		left: 71px;
		top: 10px;
	}
}

@-ms-keyframes left-eye {
	0% {
		left: 71px;
		top: 50px;
	}

	25% {
		left: 66px;
		top: 55px;
	}

	50% {
		left: 71px;
		top: 60px;
	}

	75% {
		left: 85px;
		top: 45px;
	}

	100% {
		left: 71px;
		top: 10px;
	}
}

@keyframes left-eye {
	0% {
		left: 71px;
		top: 50px;
	}

	6% {
		left: 64px;
		top: 52px;
	}

	12% {
		left: 61px;
		top: 60px;
	}

	18% {
		left: 63px;
		top: 68px;
	}

	24% {
		left: 71px;
		top: 70px;
	}

	30% {
		left: 71px;
		top: 68px;
	}

	36% {
		left: 76px;
		top: 66px;
	}

	43% {
		left: 81px;
		top: 64px;
	}

	49% {
		left: 83px;
		top: 58px;
	}

	55% {
		left: 84px;
		top: 46px;
	}

	62% {
		left: 85px;
		top: 40px;
	}

	68% {
		left: 84px;
		top: 34px;
	}

	74% {
		left: 83px;
		top: 22px;
	}

	81% {
		left: 81px;
		top: 16px;
	}

	87% {
		left: 79px;
		top: 13px;
	}

	93% {
		left: 73px;
		top: 12px;
	}

	100% {
		left: 71px;
		top: 10px;
	}
}

/* Right Eye */
@-moz-keyframes right-eye {
	0% {
		left: 153px;
		top: 50px;
	}

	5% {
		left: 161px;
		top: 52px;
	}

	10% {
		left: 163px;
		top: 60px;
	}

	15% {
		left: 162px;
		top: 65px;
	}

	20% {
		left: 150px;
		top: 69px;
	}

	25% {
		left: 145px;
		top: 70px;
	}

	35% {
		left: 139px;
		top: 67px;
	}

	45% {
		left: 125px;
		top: 63px;
	}

	55% {
		left: 123px;
		top: 44px;
	}

	65% {
		left: 120px;
		top: 34px;
	}

	85% {
		left: 121px;
		top: 16px;
	}

	100% {
		left: 122px;
		top: 2px;
	}
}

@-webkit-keyframes right-eye {
	0% {
		left: 153px;
		top: 50px;
	}

	5% {
		left: 161px;
		top: 52px;
	}

	10% {
		left: 163px;
		top: 60px;
	}

	15% {
		left: 162px;
		top: 65px;
	}

	20% {
		left: 150px;
		top: 69px;
	}

	25% {
		left: 145px;
		top: 70px;
	}

	35% {
		left: 139px;
		top: 67px;
	}

	45% {
		left: 125px;
		top: 63px;
	}

	55% {
		left: 123px;
		top: 44px;
	}

	65% {
		left: 120px;
		top: 34px;
	}

	85% {
		left: 121px;
		top: 16px;
	}

	100% {
		left: 122px;
		top: 2px;
	}
}

@-o-keyframes right-eye {
	0% {
		left: 153px;
		top: 50px;
	}

	5% {
		left: 161px;
		top: 52px;
	}

	10% {
		left: 163px;
		top: 60px;
	}

	15% {
		left: 162px;
		top: 65px;
	}

	20% {
		left: 150px;
		top: 69px;
	}

	25% {
		left: 145px;
		top: 70px;
	}

	35% {
		left: 139px;
		top: 67px;
	}

	45% {
		left: 125px;
		top: 63px;
	}

	55% {
		left: 123px;
		top: 44px;
	}

	65% {
		left: 120px;
		top: 34px;
	}

	85% {
		left: 121px;
		top: 16px;
	}

	100% {
		left: 122px;
		top: 2px;
	}
}

@-ms-keyframes right-eye {
	0% {
		left: 153px;
		top: 50px;
	}

	5% {
		left: 161px;
		top: 52px;
	}

	10% {
		left: 163px;
		top: 60px;
	}

	15% {
		left: 162px;
		top: 65px;
	}

	20% {
		left: 150px;
		top: 69px;
	}

	25% {
		left: 145px;
		top: 70px;
	}

	35% {
		left: 139px;
		top: 67px;
	}

	45% {
		left: 125px;
		top: 63px;
	}

	55% {
		left: 123px;
		top: 44px;
	}

	65% {
		left: 120px;
		top: 34px;
	}

	85% {
		left: 121px;
		top: 16px;
	}

	100% {
		left: 122px;
		top: 2px;
	}
}

@keyframes right-eye {
	0% {
		left: 153px;
		top: 50px;
	}

	5% {
		left: 161px;
		top: 52px;
	}

	10% {
		left: 163px;
		top: 60px;
	}

	15% {
		left: 162px;
		top: 65px;
	}

	20% {
		left: 150px;
		top: 69px;
	}

	25% {
		left: 145px;
		top: 70px;
	}

	35% {
		left: 139px;
		top: 67px;
	}

	45% {
		left: 125px;
		top: 63px;
	}

	55% {
		left: 123px;
		top: 44px;
	}

	65% {
		left: 120px;
		top: 34px;
	}

	85% {
		left: 121px;
		top: 16px;
	}

	100% {
		left: 122px;
		top: 2px;
	}
}

/* Mouth start */
@-moz-keyframes mouth-start {
	from {
		border-radius: 5px;
		height: 8px;
		left: 120px;
		top: 153px;
		width: 40px;
	}

	to {
		border-radius: 10px 7px 10px 7px;
		height: 18px;
		left: 115px;
		top: 147px;
		width: 35px;
	}
}

@-webkit-keyframes mouth-start {
	from {
		border-radius: 5px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.5);
		height: 8px;
		left: 120px;
		top: 153px;
		width: 40px;
	}

	to {
		border-radius: 10px 7px 10px 7px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.75);
		height: 18px;
		left: 115px;
		top: 147px;
		width: 35px;
	}
}

@-o-keyframes mouth-start {
	from {
		border-radius: 5px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.5);
		height: 8px;
		left: 120px;
		top: 153px;
		width: 40px;
	}

	to {
		border-radius: 10px 7px 10px 7px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.75);
		height: 18px;
		left: 115px;
		top: 147px;
		width: 35px;
	}
}

@-ms-keyframes mouth-start {
	from {
		border-radius: 5px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.5);
		height: 8px;
		left: 120px;
		top: 153px;
		width: 40px;
	}

	to {
		border-radius: 10px 7px 10px 7px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.75);
		height: 18px;
		left: 115px;
		top: 147px;
		width: 35px;
	}
}

@keyframes mouth-start {
	from {
		border-radius: 5px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.5);
		height: 8px;
		left: 120px;
		top: 153px;
		width: 40px;
	}

	to {
		border-radius: 17px 7px 15px 7px;
		box-shadow: 0 1px rgba(255, 255, 255, 0.75);
		height: 18px;
		left: 115px;
		top: 147px;
		width: 35px;
	}
}

/* Body Right Wire */
@-moz-keyframes body-right-wire {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 89px;
	}
}

@-webkit-keyframes body-right-wire {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 89px;
	}
}

@-o-keyframes body-right-wire {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 89px;
	}
}

@-ms-keyframes body-right-wire {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 89px;
	}
}

@keyframes body-right-wire {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 89px;
	}
}

/* Body Rotate */
@-moz-keyframes body-rotate {
	from {
		-moz-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-moz-transform: rotate(-10deg);
		left: -49px;
		top: 28px;
	}
}

@-webkit-keyframes body-rotate {
	from {
		-webkit-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-webkit-transform: rotate(-10deg);
		left: -49px;
		top: 28px;
	}
}

@-o-keyframes body-rotate {
	from {
		-o-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-o-transform: rotate(-10deg);
		left: -49px;
		top: 28px;
	}
}

@-ms-keyframes body-rotate {
	from {
		-ms-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-ms-transform: rotate(-10deg);
		left: -49px;
		top: 28px;
	}
}

@keyframes body-rotate {
	from {
		transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		transform: rotate(-10deg);
		left: -49px;
		top: 28px;
	}
}

/* Left Hand Rotate */
@-moz-keyframes left-hand-rotate {
	from {
		-moz-transform: rotate(0deg);
		left: 27px;
	}

	to {
		-moz-transform: rotate(3deg);
		left: 22px;
	}
}

@-webkit-keyframes left-hand-rotate {
	from {
		-webkit-transform: rotate(0deg);
		left: 27px;
	}

	to {
		-webkit-transform: rotate(3deg);
		left: 22px;
	}
}

@-o-keyframes left-hand-rotate {
	from {
		-o-transform: rotate(0deg);
		left: 27px;
	}

	to {
		-o-transform: rotate(3deg);
		left: 22px;
	}
}

@-ms-keyframes left-hand-rotate {
	from {
		-ms-transform: rotate(0deg);
		left: 27px;
	}

	to {
		-ms-transform: rotate(3deg);
		left: 22px;
	}
}

@keyframes left-hand-rotate {
	from {
		transform: rotate(0deg);
		left: 27px;
	}

	to {
		transform: rotate(3deg);
		left: 22px;
	}
}

/* Left Hand Top */
@-moz-keyframes left-hand-top {
	from {
		height: 118px;
	}

	to {
		height: 164px;
	}
}

@-webkit-keyframes left-hand-top {
	from {
		height: 118px;
	}

	to {
		height: 164px;
	}
}

@-o-keyframes left-hand-top {
	from {
		height: 118px;
	}

	to {
		height: 164px;
	}
}

@-ms-keyframes left-hand-top {
	from {
		height: 118px;
	}

	to {
		height: 164px;
	}
}

@keyframes left-hand-top {
	from {
		height: 118px;
	}

	to {
		height: 164px;
	}
}

/* Left Hand Bottom */
@-moz-keyframes left-hand-bottom {
	0% {
		-moz-transform: rotate(0deg);
		left: -24px;
		top: 98px;
	}

	10% {
		left: -15px;
		top: 122px;
	}

	15% {
		left: -7px;
	}

	20% {
		-moz-transform: rotate(-26deg);
		left: -5px;
		top: 122px;
	}

	30% {
		-moz-transform: rotate(-2deg);
		left: -18px;
		top: 122px;
	}

	40% {
		-moz-transform: rotate(-22deg);
		left: -7px;
		top: 122px;
	}

	50% {
		-moz-transform: rotate(-5deg);
		left: -17px;
		top: 122px;
	}

	60% {
		-moz-transform: rotate(-19deg);
		left: -9px;
		top: 122px;
	}

	70% {
		-moz-transform: rotate(-8deg);
		left: -15px;
		top: 122px;
	}

	80% {
		-moz-transform: rotate(-16deg);
		left: -11px;
		top: 122px;
	}

	90% {
		-moz-transform: rotate(-11deg);
		left: -13px;
		top: 122px;
	}

	100% {
		-moz-transform: rotate(-14deg);
		left: -12px;
		top: 122px;
	}
}

@-webkit-keyframes left-hand-bottom {
	0% {
		-webkit-transform: rotate(0deg);
		left: -24px;
		top: 98px;
	}

	10% {
		left: -15px;
		top: 122px;
	}

	15% {
		left: -7px;
	}

	20% {
		-webkit-transform: rotate(-26deg);
		left: -5px;
		top: 122px;
	}

	30% {
		-webkit-transform: rotate(-2deg);
		left: -18px;
		top: 122px;
	}

	40% {
		-webkit-transform: rotate(-22deg);
		left: -7px;
		top: 122px;
	}

	50% {
		-webkit-transform: rotate(-5deg);
		left: -17px;
		top: 122px;
	}

	60% {
		-webkit-transform: rotate(-19deg);
		left: -9px;
		top: 122px;
	}

	70% {
		-webkit-transform: rotate(-8deg);
		left: -15px;
		top: 122px;
	}

	80% {
		-webkit-transform: rotate(-16deg);
		left: -11px;
		top: 122px;
	}

	90% {
		-webkit-transform: rotate(-11deg);
		left: -13px;
		top: 122px;
	}

	100% {
		-webkit-transform: rotate(-14deg);
		left: -12px;
		top: 122px;
	}
}

@-o-keyframes left-hand-bottom {
	0% {
		-o-transform: rotate(0deg);
		left: -24px;
		top: 98px;
	}

	10% {
		left: -15px;
		top: 122px;
	}

	15% {
		left: -7px;
	}

	20% {
		-o-transform: rotate(-26deg);
		left: -5px;
		top: 122px;
	}

	30% {
		-o-transform: rotate(-2deg);
		left: -18px;
		top: 122px;
	}

	40% {
		-o-transform: rotate(-22deg);
		left: -7px;
		top: 122px;
	}

	50% {
		-o-transform: rotate(-5deg);
		left: -17px;
		top: 122px;
	}

	60% {
		-o-transform: rotate(-19deg);
		left: -9px;
		top: 122px;
	}

	70% {
		-o-transform: rotate(-8deg);
		left: -15px;
		top: 122px;
	}

	80% {
		-o-transform: rotate(-16deg);
		left: -11px;
		top: 122px;
	}

	90% {
		-o-transform: rotate(-11deg);
		left: -13px;
		top: 122px;
	}

	100% {
		-o-transform: rotate(-14deg);
		left: -12px;
		top: 122px;
	}
}

@-ms-keyframes left-hand-bottom {
	0% {
		-ms-transform: rotate(0deg);
		left: -24px;
		top: 98px;
	}

	10% {
		left: -15px;
		top: 122px;
	}

	15% {
		left: -7px;
	}

	20% {
		-ms-transform: rotate(-26deg);
		left: -5px;
		top: 122px;
	}

	30% {
		-ms-transform: rotate(-2deg);
		left: -18px;
		top: 122px;
	}

	40% {
		-ms-transform: rotate(-22deg);
		left: -7px;
		top: 122px;
	}

	50% {
		-ms-transform: rotate(-5deg);
		left: -17px;
		top: 122px;
	}

	60% {
		-ms-transform: rotate(-19deg);
		left: -9px;
		top: 122px;
	}

	70% {
		-ms-transform: rotate(-8deg);
		left: -15px;
		top: 122px;
	}

	80% {
		-ms-transform: rotate(-16deg);
		left: -11px;
		top: 122px;
	}

	90% {
		-ms-transform: rotate(-11deg);
		left: -13px;
		top: 122px;
	}

	100% {
		-ms-transform: rotate(-14deg);
		left: -12px;
		top: 122px;
	}
}

@keyframes left-hand-bottom {
	0% {
		transform: rotate(0deg);
		left: -24px;
		top: 98px;
	}

	10% {
		left: -15px;
		top: 122px;
	}

	15% {
		left: -7px;
	}

	20% {
		transform: rotate(-26deg);
		left: -5px;
		top: 122px;
	}

	30% {
		transform: rotate(-2deg);
		left: -18px;
		top: 122px;
	}

	40% {
		transform: rotate(-22deg);
		left: -7px;
		top: 122px;
	}

	50% {
		transform: rotate(-5deg);
		left: -17px;
		top: 122px;
	}

	60% {
		transform: rotate(-19deg);
		left: -9px;
		top: 122px;
	}

	70% {
		transform: rotate(-8deg);
		left: -15px;
		top: 122px;
	}

	80% {
		transform: rotate(-16deg);
		left: -11px;
		top: 122px;
	}

	90% {
		transform: rotate(-11deg);
		left: -13px;
		top: 122px;
	}

	100% {
		transform: rotate(-14deg);
		left: -12px;
		top: 122px;
	}
}

/* Right Hand Rotate */
@-moz-keyframes right-hand-rotate {
	from {
		-moz-transform: rotate(0deg);
		left: 237px;
		top: 197px;
	}

	to {
		-moz-transform: rotate(102deg);
		left: 304px;
		top: 426px;
	}
}

@-webkit-keyframes right-hand-rotate {
	from {
		-webkit-transform: rotate(0deg);
		left: 237px;
		top: 197px;
	}

	to {
		-webkit-transform: rotate(102deg);
		left: 304px;
		top: 426px;
	}
}

@-o-keyframes right-hand-rotate {
	from {
		-o-transform: rotate(0deg);
		left: 237px;
		top: 197px;
	}

	to {
		-o-transform: rotate(102deg);
		left: 304px;
		top: 426px;
	}
}

@-ms-keyframes right-hand-rotate {
	from {
		-ms-transform: rotate(0deg);
		left: 237px;
		top: 197px;
	}

	to {
		-ms-transform: rotate(102deg);
		left: 304px;
		top: 426px;
	}
}

@keyframes right-hand-rotate {
	from {
		transform: rotate(0deg);
		left: 237px;
		top: 197px;
	}

	to {
		transform: rotate(102deg);
		left: 304px;
		top: 426px;
	}
}

/* Right Hand Wire */
@-moz-keyframes right-hand-wire {
	from {
		top: -20px;
		width: 0;
	}

	to {
		right: -3px;
		top: -24px;
		width: 44px;
	}
}

@-webkit-keyframes right-hand-wire {
	from {
		left: 33px;
		top: 86px;
	}

	to {
		left: 28px;
		top: 91px;
	}
}

@-o-keyframes right-hand-wire {
	from {
		left: 33px;
		top: 86px;
	}

	to {
		left: 28px;
		top: 91px;
	}
}

@-ms-keyframes right-hand-wire {
	from {
		left: 33px;
		top: 86px;
	}

	to {
		lleft: 28px;
		top: 91px;
	}
}

@keyframes right-hand-wire {
	from {
		top: -20px;
		right: 0;
		width: 0;
	}

	to {
		right: -10px;
		top: -24px;
		width: 44px;
	}
}

/* Right Hand Top */
@-moz-keyframes right-hand-top {
	from {
		-moz-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-moz-transform: rotate(5deg);
		left: 4px;
		top: -3px;
	}
}

@-webkit-keyframes right-hand-top {
	from {
		-webkit-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-webkit-transform: rotate(5deg);
		left: 4px;
		top: -3px;
	}
}

@-o-keyframes right-hand-top {
	from {
		-o-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-o-transform: rotate(5deg);
		left: 4px;
		top: -3px;
	}
}

@-ms-keyframes right-hand-top {
	from {
		-ms-transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		-ms-transform: rotate(5deg);
		left: 4px;
		top: -3px;
	}
}

@keyframes right-hand-top {
	from {
		transform: rotate(0deg);
		left: 0;
		top: 0;
	}

	to {
		transform: rotate(5deg);
		left: 4px;
		top: -3px;
	}
}

/* Right Hand Bottom */
@-moz-keyframes right-hand-bottom {
	from {
		-moz-transform: rotate(0deg);
		left: 33px;
		top: 86px;
	}

	to {
		-moz-transform: rotate(7deg);
		left: 28px;
		top: 91px;
	}
}

@-webkit-keyframes right-hand-bottom {
	from {
		-webkit-transform: rotate(0deg);
		left: 33px;
		top: 86px;
	}

	to {
		-webkit-transform: rotate(7deg);
		left: 28px;
		top: 91px;
	}
}

@-o-keyframes right-hand-bottom {
	from {
		-o-transform: rotate(0deg);
		left: 33px;
		top: 86px;
	}

	to {
		-o-transform: rotate(7deg);
		left: 28px;
		top: 91px;
	}
}

@-ms-keyframes right-hand-bottom {
	from {
		-ms-transform: rotate(0deg);
		left: 33px;
		top: 86px;
	}

	to {
		-ms-transform: rotate(7deg);
		lleft: 28px;
		top: 91px;
	}
}

@keyframes right-hand-bottom {
	from {
		transform: rotate(0deg);
		left: 33px;
		top: 86px;
	}

	to {
		transform: rotate(7deg);
		left: 28px;
		top: 91px;
	}
}

/* Right Hand Shadow */
@-moz-keyframes right-hand-shadow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes right-hand-shadow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes right-hand-shadow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-ms-keyframes right-hand-shadow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes right-hand-shadow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Error text */
@-moz-keyframes change-error-text {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes change-error-text {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes change-error-text {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-ms-keyframes change-error-text {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes change-error-text {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 940px) {
	.error_box_wrap {
		width: 100%;
	}

	.robot-wrap {
		float: none;
		margin: auto;
	}

}


@media (max-width: 360px) {
	.error_box_wrap {
		margin-top: 0;
	}

	.robot-wrap {
		-moz-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-o-transform: scale(0.7);
		transform: scale(0.7);
	}

	.error_box {
		margin-bottom: 30px;
	}

	.error_box .error-number {
		font-size: 134px;
	}
}